[submodule "plugins/afm-sim"]
	path = plugins/afm-sim
	url = https://github.com/retallickj/afm-sim.git
[submodule "plugins/poissolver"]
	path = plugins/poissolver
	url = https://github.com/siqad/PoisSolvers.git
[submodule "plugins/simanneal"]
	path = plugins/simanneal
	url = https://github.com/siqad/simanneal-sidb.git
[submodule "plugins/exhaustive_gs"]
	path = plugins/exhaustive-gs
	url = https://github.com/siqad/exhaustive-gs-sidb
[submodule "libs/siqadconn"]
	path = libs/siqadconn
	url = https://github.com/siqad/siqadconn
[submodule "src/libs/zipper"]
	path = src/libs/zipper
	url = https://github.com/sebastiandev/zipper
[submodule "plugins/quicksim-siqad-plugin"]
	path = plugins/quicksim-siqad-plugin
	url = https://github.com/cda-tum/quicksim-siqad-plugin
