# specific patterns
moc_*
db-sim

# compiled source
*.o
*.pyc
qrc_application.cpp
build

# logs and databases
src/log/
*.log
Makefile

#PoissonSolver outputs
*outfile.txt
*outrho.txt
*outcorr.txt

#save files
/*.xml

# other
*.swp
.qmake.stash
tempfig.pdf
