# specific patterns
moc_*
db-sim

# compiled source
*.o
*.pyc
qrc_application.cpp
/w64-build*/**
/build*/**
win32
win64

# logs and databases
src/log/
*.log
Makefile

#documentation
doxygen

#PoissonSolver outputs
*outfile.txt
*outrho.txt
*outcorr.txt

#save files
/*.xml

# other
*.swp
.qmake.stash
tempfig.pdf
.temp/
.vscode/
.ycm*.py
