<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>SiQAD</Name>
    <Version>0.1.0</Version>
    <Title>SiQAD Installer</Title>
    <Publisher>Qt-Project</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>SiQAD</StartMenuDir>
    <TargetDir>@ApplicationsDir@/SiQAD</TargetDir>
    <ControlScript>controllScript.qs</ControlScript>
</Installer>
